@import 'tailwindcss';

html {
    scroll-behavior: smooth;
}

* {
    font-family: "JetBrains Mono", sans-serif;
}

h1,h2,h3 {
    font-family:  "Poppins", sans-serif;
}

.poppins {
    font-family:  "Poppins", sans-serif;
}
 
.jetbrains {
    font-family: "JetBrains Mono", sans-serif;
    font-weight: 700;
}
